body {
  width: 50%;
  margin: 0 auto;
}

ul {
  padding: 0;
}

h5 {
  margin: 0;
  padding: 0;
}

.reddit-post {
  border: 3px solid black;
  margin-bottom: 10px;
}

.comment-section {
  border: 1px solid darkgray;
}

li {
  list-style: none;
  border-bottom: 1px solid red;
}

li:nth-child(odd){
  background-color: gray;;
}

li:last-child {
  border-bottom: none;
}

.no-comments {
  height: 30px;
  display: block;
}

.no-comments::before {
  content: "No comments yet";
}